<template name="postSubmit">
  <form class="main form page">
    <div class="form-group {{errorClass 'item-title'}}">
      <label class="control-label" for="item-title">Item title</label>
      <div class="controls">
          <input name="item-title" id="item-title" type="text" value="{{item-title}}" placeholder="Item lost or found" class="form-control"/>
          <span class="help-block">{{errorMessage 'item-title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'item-description'}}">
      <label class="control-label" for="item-description">Item description</label>
      <div class="controls">
          <input name="item-description" id="item-description" type="text" value="{{item-description}}" placeholder="Item description" class="form-control"/>
          <span class="help-block">{{errorMessage 'item-description'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'location-tags'}}">
      <label class="control-label" for="location-tags">Location Tags</label>
      <div class="controls">
          <input name="location-tags" id="location-tags" type="text" value="{{location-tags}}" placeholder="Item lost or found" class="form-control"/>
          <span class="help-block">{{errorMessage 'location-tags'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="{{name}}" placeholder="Your Name" class="form-control"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'phone'}}">
      <label class="control-label" for="phone">Phone</label>
      <div class="controls">
          <input name="phone" id="phone" type="text" value="{{phone}}" placeholder="XXX-XXX-XXXX" class="form-control"/>
          <span class="help-block">{{errorMessage 'phone'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'email'}}">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
          <input name="email" id="email" type="text" value="{{email}}" placeholder="user@name.com" class="form-control"/>
          <span class="help-block">{{errorMessage 'email'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>