<template name="postEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'itemtitle'}}">
      <label class="control-label" for="itemtitle">Item title</label>
      <div class="controls">
          <input name="itemtitle" class="itemshort" type="text" value="{{itemtitle}}" placeholder="Item lost or found"/>
          <span class="help-block">{{errorMessage 'itemtitle'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'itemdescription'}}">
      <label class="control-label" for="itemdescription">Item description</label>
      <div class="controls">
          <input name="itemdescription" class="itemdescription" type="text" value="{{itemdescription}}" placeholder="Item description"/>
          <span class="help-block">{{errorMessage 'itemdescription'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'locationtags'}}">
      <label class="control-label" for="locationtags">Location Tags</label>
      <div class="controls">
          <input name="locationtags" class="locationtags" type="text" value="{{locationtags}}" placeholder="Item lost or found"/>
          <span class="help-block">{{errorMessage 'locationtags'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" class="name" type="text" value="{{name}}" placeholder="Your Name"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'phone'}}">
      <label class="control-label" for="phone">Phone</label>
      <div class="controls">
          <input name="phone" class="phone" type="text" value="{{phone}}" placeholder="XXX-XXX-XXXX" />
          <span class="help-block">{{errorMessage 'phone'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'email'}}">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
          <input name="email" class="email" type="text" value="{{email}}" placeholder="user@name.com" />
          <span class="help-block">{{errorMessage 'email'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>